.stack-work/
.stack-work-profile/
/verylog-hs.cabal
configuration.sh
.*.pl
.*.preproc.v
.*.smt2
.log*
flycheck_*

/*.prof
/*.prof.html

.liquid/
.*.fq

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
tags
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile
.dir-locals.el

/.test-report.txt

*.annot
